.card{
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h2{
    margin: 15px 0;
    font-size: 24px;
    color: #333;
}

.card p{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.card button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.card button:hover{
    background-color: #000000;
}